<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="propertyConfig" class="org.xlet.strawberry.core.config.SystemPropertyPropertyPlaceholderConfigurer">
        <constructor-arg name="systemProperty">
            <value>strawberry.server.config</value>
        </constructor-arg>
    </bean>

    <import resource="serverConfig.xml"/>
    <import resource="jsonSubTypeRegister.xml"/>

    <context:component-scan base-package="org.xlet.strawberry"/>

    <bean class="org.xlet.strawberry.core.spring.SpringContext"/>

    <bean id="mongo" class="org.xlet.strawberry.persistent.mongo.MongoFactoryBean">
        <property name="readSecondary" value="false"/>
        <property name="writeConcern" value="SAFE"/>
        <property name="url" value="${repository.mongo.url}"/>
    </bean>

    <bean id="morphia" class="org.xlet.strawberry.persistent.mongo.MorphiaFactoryBean">
        <property name="mapPackages">
            <array>
                <value>org.xlet.strawberry.persistent.mongo.domain</value>
            </array>
        </property>
    </bean>
    <bean id="dataStore" class="org.xlet.strawberry.persistent.mongo.DatastoreFactoryBean">
        <property name="morphia" ref="morphia"/>
        <property name="mongoClient" ref="mongo"/>
        <property name="dbName" value="bus"/>
        <property name="toEnsureIndexes" value="true"/>
        <property name="toEnsureCaps" value="true"/>
    </bean>

    <!-- http client -->
    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig" factory-method="custom">
        <property name="socketTimeout" value="20000"/>
        <property name="connectTimeout" value="50000"/>
    </bean>
    <bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build"/>
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <property name="defaultRequestConfig" ref="requestConfig"/>
    </bean>
    <bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>

    <bean id="ucConfig" class="org.xlet.strawberry.thirdparty.web.sdk.config.UcConfig">
        <property name="baseUrl" value="${userCenter.api.url}"/>
        <property name="secret" value="${userCenter.api.secret}"/>
        <property name="httpClient" ref="httpClient"/>
    </bean>

    <bean id="wcnMemberService" class="org.xlet.strawberry.thirdparty.web.sdk.WebMemberServiceImpl">
        <property name="config" ref="ucConfig"/>
    </bean>

    <!-- oa api config -->
    <bean id="oaConfig" class="org.xlet.strawberry.thirdparty.oa.sdk.OaConfig">
        <property name="baseUrl" value="${oa.api.url}"/>
        <property name="httpClient" ref="httpClient"/>
    </bean>

    <bean id="oaMemberService" class="org.xlet.strawberry.thirdparty.oa.sdk.OaMemberServiceImpl">
        <property name="config" ref="oaConfig"/>
    </bean>

</beans>