<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="file:/etc/imtest/server/server.conf"/>
    <import resource="serverConfig.xml"/>

    <context:component-scan base-package="cn.w.im" />

    <bean class="cn.w.im.utils.spring.SpringContext" />

    <bean id="mongo" class="cn.w.im.utils.mongo.MongoFactoryBean">
        <property name="readSecondary" value="false"/>
        <property name="writeConcern" value="SAFE"/>
        <property name="url" value="${mongo.url}"/>
    </bean>

    <bean id="morphia" class="cn.w.im.utils.mongo.MorphiaFactoryBean">
        <property name="mapPackages">
            <array>
                <value>cn.w.im.domains.mongo</value>
            </array>
        </property>
    </bean>
    <bean id="dataStore" class="cn.w.im.utils.mongo.DatastoreFactoryBean">
        <property name="morphia" ref="morphia"/>
        <property name="mongo" ref="mongo"/>
        <property name="dbName" value="im"/>
        <property name="toEnsureIndexes" value="true"/>
        <property name="toEnsureCaps" value="true"/>
    </bean>

    <!-- 插件初始化配置 -->
    <bean id="loginServerPluginInitializer" class="cn.w.im.plugins.init.LoginServerPluginInitializer"/>
    <bean id="messageBusPluginInitializer" class="cn.w.im.plugins.init.MessageBusPluginInitializer"/>
    <bean id="messageServerPluginInitializer" class="cn.w.im.plugins.init.MessageServerPluginInitializer"/>


    <!-- http client -->
    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig" factory-method="custom">
        <property name="socketTimeout" value="200000"/>
        <property name="connectTimeout" value="200000"/>
    </bean>
    <bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build"/>
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <property name="defaultRequestConfig" ref="requestConfig"/>
    </bean>
    <bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>

    <bean id="ucConfig" class="cn.w.im.utils.sdk.usercenter.config.UcConfig">
        <property name="baseUrl" value="${userCenter.api.url}"/>
        <property name="secret" value="${userCenter.api.secret}"/>
        <property name="httpClient" ref="httpClient"/>
    </bean>

    <bean id="members" class="cn.w.im.utils.sdk.usercenter.MemberService">
        <property name="config" ref="ucConfig"/>
    </bean>

</beans>