<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <description>Spring configuration</description>

    <import resource="mongoConfig.xml"/>
    <import resource="globalConfiguration.xml"/>

    <context:property-placeholder ignore-unresolvable="true" location="file:/etc/liuliu/web/server.conf" />

    <context:component-scan base-package="cn.w.im" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="cn.w.im.utils.spring.SpringContext"/>

    <!-- JSR303 Validator定义
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
    -->

    <!-- http client -->
    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig" factory-method="custom">
        <property name="socketTimeout" value="200000"/>
        <property name="connectTimeout" value="200000"/>
    </bean>
    <bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build"/>
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
        <property name="defaultRequestConfig" ref="requestConfig"/>
    </bean>
    <bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>

    <bean id="ucConfig" class="cn.w.im.utils.sdk.usercenter.config.UcConfig">
        <property name="baseUrl" value="${userCenter.api.url}"/>
        <property name="secret" value="${userCenter.api.secret}"/>
        <property name="httpClient" ref="httpClient"/>
    </bean>

    <bean id="members" class="cn.w.im.utils.sdk.usercenter.MemberService">
        <property name="config" ref="ucConfig"/>
    </bean>
</beans>