<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="file:/etc/liuliu/forward/server.conf"/>

    <bean class="cn.w.im.utils.spring.SpringContext" />

    <bean class="cn.w.im.domains.conf.ForwardConfiguration" >
        <property name="busHost" value="${bus.host}" />
        <property name="busPort" value="${bus.port}" />
        <property name="serverHost" value="${server.host}" />
        <property name="serverPort" value="${server.port}" />
    </bean>
</beans>