@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style-type: none;
}

html {
    overflow:hidden;
}

table, th, td {
    padding: 0;
    border-spacing: 0;
}

.hylb_main2 {
    width: 193px;
    height: 30px;
    padding: 0px 12px;
}

.input_css {
    background: none;
    border: none;
    width: 120px;
    height: 28px;
    font: normal 12px/28px "宋体";
    color: #666;
    position: relative;
    top: 11px;
}

.close {
    position: relative;
    top: -20px;
    *top: -17px;
    right: -6px;
    width: 11px;
    height: 9px;
}


.photocss {
    width: 58px;
    height: 54px;
    background: url(webImages/img.png) no-repeat;
    display: block;
    text-align: center;
    padding-top: 4px;
}

.bt_main {
    float: right;
    width: 60px;
    height: 30px;
}

    .bt_main a {
        float: left;
        width: 30px;
        text-align: center;
        height: 18px;
        display: block;
        padding-top: 12px;
    }

.loginmain {
    margin: 0 auto;
    width: 338px;
    height: 132px;
    padding-top: 144px;
    *padding-top: 114px;
}

.photo_css {
    float: left;
    width: 80px;
    height: 80px;
    border: #beb8b6 1px solid;
    padding: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.login_css {
    float: right;
    width: 246px;
    height: 132px;
    font: normal 12px/24px "宋体";
    color: #666;
}

    .login_css a {
        color: #666;
    }

        .login_css a:hover {
            color: #ff953e;
        }

.inputcss0 {
    border: #beb8b6 1px solid;
    width: 168px;
    height: 24px;
    font: normal 12px/24px "宋体";
    color: #666;
    padding: 0px 8px;
}




/* scr_con style */


.im-chat {margin: 0 auto;width: 910px;display: table;position: relative;}

.im-chat .im-main {float: left;width: 228px;height: 600px;background: url(webImages/bglinkman.png) no-repeat;}
.im-chat .im-main .im-main-header {width: 208px;padding: 10px;font-size: 16px;font-family: "微软雅黑";color: #fff;height: 58px;}
.im-chat .im-main .im-main-header .listflag {position: relative;top: -8px;width: 14px;height: 12px;}
.im-chat .im-main .im-main-header .search {position: relative;top: 16px;width: 14px;height: 14px;}
.im-chat .im-main .contact-containner {width: 240px;margin: 0 auto;height: 566px;}
.im-chat .im-main .contact-containner .recent-contact {height: 558px;width: 230px;overflow: hidden;float: left;}
.im-chat .im-main .contact-containner .recent-contact ul {margin: 0 auto;height: 480px;width: 213px;font: normal 14px/43px "宋体";}
.im-chat .im-main .contact-containner .recent-contact ul li {height: 50px;width: 213px;display: list-item;position: relative;left: -3px;}
.im-chat .im-main .contact-containner .recent-contact ul li:hover, ul li.on {border-left: #ef6d24 3px solid;background: #fef5ee;cursor: pointer;}
.im-chat .im-main .contact-containner .recent-contact .photo{float:left;width:30px;height:30px;border: #e4e1e0 1px solid;padding: 1px;margin: 5px 0px 0px 12px;}
.im-chat .im-main .contact-containner .recent-contact .photo .num {display: inline-block;height: 14px;padding: 0 4px;border-radius: 7px;background: #fe6600;position: absolute;top: -3px;right: 15px;font-size: 10px;line-height: 13px;-webkit-text-size-adjust: none;color: #fff;font-weight: 700;font-style: normal;}
.im-chat .im-main .contact-containner .recent-contact .name{float:left;margin:5px 0 0 8px;}
.im-chat .im-main .contact-containner .recent-contact .news {float:right;width:15px;height:16px;margin-top:8px;background:url(images/news.gif) no-repeat;}
.im-chat .im-main .contact-containner .recent-contact .status{float:right;width:15px;height:16px;margin-top:8px;background:url(images/im.png) no-repeat 0 -85px;}
.im-chat .im-main .contact-containner .recent-contact .offline .status{background-position:-45px -85px;}
.im-chat .im-main .contact-containner .scroll {width: 4px;height: 527px;float: left;background: #ECECEC;position: relative;left: -12px;z-index: 999;top: -4px;}
.im-chat .im-main .contact-containner .scroll p {width: 4px;height: 20px;background: #FF700D;cursor: pointer;left: 0;top: 1px;position: absolute;}

.im-chat .im-contract-positoin {float: left;width: 11px;height: 11px;position: relative;top: 95px;left: 5px;}

.im-chat .chat-main {float: right;width: 660px;height: 600px;background: url(webImages/bjchat.png) no-repeat;}
.im-chat .chat-main .toname {margin: 0 auto;width: 600px;height: 40px;color: #fff;margin-top: 8px;font: normal 16px/40px "微软雅黑";text-align: center;}
.im-chat .chat-main .message {margin: 0 auto;width: 648px;height: 500px;}
.im-chat .chat-main .message .scroll-panel {position: relative;height: 500px;width: 648px;}
.im-chat .chat-main .message .scroll-panel .message-panel{position: relative;height: 500px;overflow: auto;width: 648px;font: normal 12px/24px "宋体";color: #333;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list{width: 96%;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .time { clear:both;padding: 2px 0;margin: 0px auto 10px;max-width: 170px;min-width: 100px;_width:expression(this.scrollWidth > 170 ? "170px" : (this.scrollWidth < 100 ? "100px" : "auto"));border-radius: 20px;color: #7f7f7f; text-shadow: 0 1px 0 #fff;font: normal 12px/16px "微软雅黑";text-align: center;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .time .bgtime {height: 1px;width: 24px;margin-top: 8px;background-color: #B4B8BD;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .time .left {float: left;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .time .right {float: right;}

.im-chat .chat-main .message .scroll-panel .message-panel .message-list .chatItem {padding: 0px 0px 10px 0px;_background: none;_border: none;width: 450px;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .me {float: right;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .me .photo {float: right;margin-right: 10px}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .me .content { float: right;background-color: #f4f5f8;margin-right: 10px}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .you {float: left;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .you .photo { float: left;margin-left:10px}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .you .content { float: left;background-color: #fff3ea;margin-left:10px}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .system {float: left;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .system .photo { float: left;margin-left:10px}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .system .content { float: left;background-color: #fff3ea;margin-left:10px;color: red;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .chatItem .photo { width: 48px;height: 48px;border: 1px solid #e3e3e3;padding: 1px;border-radius: 3px;}
.im-chat .chat-main .message .scroll-panel .message-panel .message-list .chatItem .content {border: 1px solid #eee;padding: 13px;border-radius: 7px;-moz-border-radius: 7px;-webkit-border-radius: 7px;overflow: hidden;font-size: 14px;max-width: 450px;}

.im-chat .chat-main .message .scroll-panel .to {display: none;width: 163px;height: 491px;border-left: #ececec 1px solid;position: absolute;background: #fafbfd;border-right: #cad5dd 1px solid;padding: 25px;right: 0;top: 0;}
.im-chat .chat-main .message .scroll-panel .to .photo {border: #e8e9eb 1px solid;width: 154px;height: 154px;margin: 0 auto;padding: 3px;}
.im-chat .chat-main .message .scroll-panel .to .photo img {width: 154px;height: 154px;}
.im-chat .chat-main .message .scroll-panel .to .name {font: bold 14px/48px "宋体";color: #ff6600;}
.im-chat .chat-main .message .scroll-panel .to p {font: normal 12px/24px "宋体";color: #666;}

.im-chat .chat-main .send {margin: 0 auto;width: 620px;height: 33px;padding: 12px 20px;}
.im-chat .chat-main .send .sendbutton{ background: url(webImages/send.png);height: 30px;width: 80px;vertical-align: middle;margin: 0;padding: 0;border: 0}

.inputcss {
    width: 441px;
    height: 31px;
    background: url(webImages/bjsend.png) no-repeat;
    border: none;
    vertical-align: middle;
    padding: 0px 5px;
    font: normal 12px/31px "微软雅黑";
}

/*表情*/
.w_layer {border-radius: 3px;color: #333333;position: absolute;z-index: 9999;height: 181px;width: 500px;}
.w_layer .bg {height: 175px;background: #fff;border-radius: 3px;padding: 3px;border:1px solid #ddd;}
.w_layer .w_faces {padding: 10px 5px;background: #fff;}
.w_layer .faces_list {margin: 0 0 0 6px;}
.w_layer .faces_list ul {list-style: none outside none;margin: 0;padding: 0;}
.w_layer .faces_list li {border: 1px solid #E8E8E8;cursor: pointer;float: left;height: 22px;margin: -1px 0 0 -1px;overflow: hidden;padding: 4px 2px;text-align: center;width: 26px;}
.clearfix {}
.clearfix:after {clear: both;content: "​";display: block;height: 0;}
