<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:config.properties"/>
    <bean id="mongo" class="cn.w.im.mongo.MongoFactoryBean">
        <property name="mongoUrl" value="mongodb://root:123456@10.0.40.20/?w=1" />
        <property name="readSecondary" value="false" />
        <property name="writeConcern" value="SAFE" />
    </bean>
    <bean id="morphia" class="cn.w.im.mongo.MorphiaFactoryBean">
        <property name="mapPackages">
            <array>
                <value>cn.w.im.domains.mongo</value>
            </array>
        </property>
    </bean>
    <bean id="datastore" class="cn.w.im.mongo.DatastoreFactoryBean">
        <property name="morphia" ref="morphia" />
        <property name="mongo" ref="mongo" />
        <property name="dbName" value="im" />
        <property name="toEnsureIndexes" value="true" />
        <property name="toEnsureCaps" value="true" />
    </bean>
    <!-- mongo Message dao -->
    <bean id="mongoLoginMessageDao" class="cn.w.im.mongo.dao.message.MongoLoginMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoLogoutMessageDao" class="cn.w.im.mongo.dao.message.MongoLogoutMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoNormalMessageDao" class="cn.w.im.mongo.dao.message.MongoNormalMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoMessageServerRegisterMessageDao" class="cn.w.im.mongo.dao.message.MongoMessageServerRegisterMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoLoginServerRegisterMessageDao" class="cn.w.im.mongo.dao.message.MongoLoginServerRegisterMessageDao">
        <constructor-arg ref="datastore" />
    </bean>

    <!-- mongo utils dao -->
    <bean id="mongoLoginTokenDao" class="cn.w.im.mongo.dao.utils.MongoLoginTokenDao">
        <constructor-arg ref="datastore" />
    </bean>

    <!-- mongo persistent provider -->
    <bean id="loginMessageProviderImpl" class="cn.w.im.plugins.persistentMessage.mongo.LoginMessageProviderImpl">
        <constructor-arg ref="mongoLoginMessageDao" />
    </bean>
    <bean id="logoutMessageProviderImpl" class="cn.w.im.plugins.persistentMessage.mongo.LogoutMessageProviderImpl">
        <constructor-arg ref="mongoLogoutMessageDao" />
    </bean>
    <bean id="normalMessageProviderImpl" class="cn.w.im.plugins.persistentMessage.mongo.NormalMessageProviderImpl">
        <constructor-arg ref="mongoNormalMessageDao" />
    </bean>
    <bean id="messageServerRegisterMessageProviderImpl" class="cn.w.im.plugins.persistentMessage.mongo.MessageServerRegisterMessageProviderImpl">
        <constructor-arg ref="mongoMessageServerRegisterMessageDao" />
    </bean>
    <!-- 插件初始化配置 -->
    <bean id="loginServerPluginInitializer" class="cn.w.im.plugins.init.LoginServerPluginInitializer"></bean>
</beans>