<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:config.properties"/>
    <bean id="mongo" class="cn.w.im.mongo.MongoFactoryBean">
        <property name="mongoUrl" value="mongodb://root:123456@10.0.40.20/?w=1" />
        <property name="readSecondary" value="false" />
        <property name="writeConcern" value="SAFE" />
    </bean>
    <bean id="morphia" class="cn.w.im.mongo.MorphiaFactoryBean">
        <property name="mapPackages">
            <array>
                <value>cn.w.im.domains.mongo</value>
            </array>
        </property>
    </bean>
    <bean id="datastore" class="cn.w.im.mongo.DatastoreFactoryBean">
        <property name="morphia" ref="morphia" />
        <property name="mongo" ref="mongo" />
        <property name="dbName" value="im" />
        <property name="toEnsureIndexes" value="true" />
        <property name="toEnsureCaps" value="true" />
    </bean>
    <bean id="mongoLoginMessageDao" class="cn.w.im.mongo.dao.message.MongoLoginMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoLogoutMessageDao" class="cn.w.im.mongo.dao.message.MongoLogoutMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoNormalMessageDao" class="cn.w.im.mongo.dao.message.MongoNormalMessageDao">
        <constructor-arg ref="datastore" />
    </bean>
    <bean id="mongoLoginMessageSerializer" class="cn.w.im.plugins.persistentMessage.mongo.MongoLoginMessageProviderImpl">
        <constructor-arg ref="mongoLoginMessageDao" />
    </bean>
    <bean id="mongoLogoutMessageSerializer" class="cn.w.im.plugins.persistentMessage.mongo.MongoLogoutMessageProviderImpl">
        <constructor-arg ref="mongoLogoutMessageDao" />
    </bean>
    <bean id="mongoNormalMessageSerializer" class="cn.w.im.plugins.persistentMessage.mongo.MongoNormalMessageProviderImpl">
        <constructor-arg ref="mongoNormalMessageDao" />
    </bean>
</beans>